<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<filter>
		<filter-name>characterEncoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>characterEncoding</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/config/presentation-layer.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>MultipartFilter</filter-name>
		<filter-class>org.springframework.web.multipart.support.MultipartFilter</filter-class>
	</filter>
		<filter-mapping>
		<filter-name>MultipartFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	
	
		<!-- 로그인 필터 -->
	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>com.springbook.filter.LoginFilter</filter-class>
	</filter>	
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
			<url-pattern>/reservationPage.do</url-pattern>
			<url-pattern>/getUser.do</url-pattern>
			<url-pattern>/getReservation.do</url-pattern>
			<url-pattern>/getBoardList.do</url-pattern>
			<url-pattern>/getBoard.do</url-pattern>
			<url-pattern>/insertBoard.do</url-pattern>
			<url-pattern>/deleteBoard.do</url-pattern>
			<url-pattern>/getNoticeList.do</url-pattern>
			<url-pattern>/petShopPage.do</url-pattern>
			<url-pattern>/getProduct.do</url-pattern>
			<url-pattern>/getOrder.do</url-pattern>
			<url-pattern>/getOrderList.do</url-pattern>
			<url-pattern>/deleteOrder.do</url-pattern>
			<url-pattern>/getCart.do</url-pattern>
			<url-pattern>/myCartPage.do</url-pattern>
	</filter-mapping>
	
</web-app>